
<div class="container">
  <h1>Donate by:</h1>
  <form action="/donates/" method="post">
    <label for="location">Nearest Location:</label>
    <input type="text" name="location">
    <button name="button">Submit</button></br></br>
  </form>

  <form action="/donates" method="post">
    <label for="shelter">Specific Shelter:</label>
    <input type="text" name="shelter" id="shelterAutoComplete">
    <button name="button">Submit</button></br></br>
  </form>

  <p>Find Shelters by What They Need:</p>
  <% @resources.each do |resource| %>
    <a href="/resources/<%= resource.id %>" class="btn btn-default btn-lg btn-block"><%= resource.name %></a>
  <% end %>

</div>
