
  <div class="container">
  <h1>Donate by:</h1>
  <form action="/donates/" method="post">
    <label for="location">Nearest Location:</label>
    <input type="text" name="location">
    <button name="button">Submit</button></br></br>
  </form>

  <form action="/donates" method="post">
    <label for="shelter">Specific Shelter:</label>
    <input type="text" name="shelter">
    <button name="button">Submit</button></br></br>
</form>
    <p>Find Shelters by What They Need:</p>
    <a href="/donates/hygine_products" class="btn btn-default btn-lg btn-block">Hygiene Products</a>
    </br>
    <a href="/donates" class="btn btn-default btn-lg btn-block">Linens</a>
    </br>
    <a href="/donates" class="btn btn-default btn-lg btn-block">Clothing</a>
    </br>
    <a href="/donates" class="btn btn-default btn-lg btn-block">Books</a>
    </br>
    <a href="/donates" class="btn btn-default btn-lg btn-block">Toys</a>
    </br>
    <a href="/donates" class="btn btn-default btn-lg btn-block">Food</a>
    </br>
  </div>
