<h1><%= @resource_name %> Needed</h1>

<table class="hoverable" >
  <thead>
    <tr>
    <th>Item</th>
    <th>quantity</th>
  </tr>
  </thead>
  <tbody>

    <tr>
  <td>
    </tr>
  </tbody>
</table>
