<nav class="white" role="navigation">
  <div class="nav-wrapper">
    <h1 id="logo-container" class="brand-logo seo">Xenia</h1>
    <center>
      <ul class="right hide-on-med-and-down">
        <li><a href="/donate">Donate</a></li>
        <li><a href="/support">Find Support</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Current Events</a></li>
      </ul>
    </center>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
        <h5 class="header col s12 tag-line">Generosity of strangers to those who are far from home.</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/img/hitchhiker.jpeg" alt="Hitchhiker" id="feature-img"></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <img class="png-icon" src="/img/helpinghandicon.png">
          <h5 class="center left-align">Donate</h5>
          <p style="text-align:left" class="light align-left">Travelers all over Portland are in need of assistance. Find out what resources various support organizations are lacking and contribute to the health and wellbeing of the people in your community.  Donations influence the scope of what care is provided for many organizations.</p>
        </div>

      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center icon"><i class="material-icons">group</i></h2>
          <h5 class="center no-margin">Support</h5>

          <p style="text-align:left" class="light align-left">If you are interested in connecting to a local organization that provides support, please search through our inventory to find available resources.  From there, you can map where the resource is located to find a location that works for you.</p>
        </div>
      </div>
  </div>
<div class="row">
  <div class="col s12 m6 center icon" >
  <a class="waves-effect waves-light btn-large color blue" href="/donate">Donate</a>
</div>
  <div class="col s12 m6 center icon">
  <a class="waves-effect waves-light btn-large color blue" href="/support">Find Support</a>
</div>
</div>
</div>



<!-- <div class="container">



      </div>
    </div>
  </center> -->




<footer><center><a href="/admin" class="btn btn-success">Admin</a></center></footer>


<script>
  $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
