<!DOCTYPE HTML>
<html>
  <head>
    <link rel='stylesheet' href='/css/main.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- vendor styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- local styles -->
    <link rel='stylesheet' href='/css/main.css'>
    <link rel="stylesheet" href="/css/style.css">
    <title>Xenia</title>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper">
        <a href="/" id="logo-container" class="brand-logo">Xenia</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/donate">Donate</a></li>
          <li><a href="/support">Find Support</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <%= yield %>
  </body>
  <!-- vendor js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <!-- local js -->
    <script src="/js/main.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/autocomplete.js"></script>
    <!-- async googlapis call needs to be below js that depends on it -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

</html>
