<!DOCTYPE HTML>
<html>
  <head>
    <!-- vendor styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- vendor js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- local styles -->
    <link rel='stylesheet' href='/css/main.css'>
    <link rel="stylesheet" href="/css/style.css">

    <!-- local js -->
    <script src="/js/main.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/autocomplete.js"></script>
    <!-- async googlapis call needs to be below js that depends on it -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

    <title>Xenia</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
