
<div class="container">
  <form id="location_form" action="/locator/results" method="post">
    <div class="col s12">
      <!-- If HTML5 geolocation enabled, capture current location -->
      <input type="hidden" id="user_latitude" name='user_latitude' value="">
      <input type="hidden" id="user_longitude" name='user_longitude' value="">

      <!-- TODO: auto-hide if auto-geolocate allowed -->
      <h4>Current Location</h4>
      <div id="location_form">
        <label>Street</label>
        <input type="text" name="source_street" id="source_street" value="" placeholder="optional">
        <label>City</label>
        <input type="text" name="source_city" id="source_city" value="" placeholder="optional">
        <label>State</label>
        <input type="text" name="source_state" id="source_state" value="" placeholder="optional">
      </div>

      <h4>Resource Needed</h4>
      <select id="resource_select" name="resource_select" type="text">
        <% @resources.each() do |resource| %>
          <option id="option_<%= resource.id() %>" value="<%= resource.id() %>"><%= resource.name() %></option>
        <% end %>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Find</button>
  </form>
</div>

<script charset="utf-8">
  window.onload = function() {
    locateUser();
  };
</script>
