<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/distance.js"></script>
    <title></title>
  </head>
  <body>

    <div id="inputs">
        <label>Source</label><input type="text" name="source" id="source" />
        <label>Destination</label><input type="text" name="dest" id="dest" />
      <p><button type="button" onclick="calculateDistances();">Calculate
              distances</button></p>
     </div>
    <div id="outputDiv"></div>

  </body>
</html>
