<form id="location_form" action="/" method="post">
  <div id="form-group">
      <label>Current Location</label>
      <input type="text" name="source" id="source" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Calculate distances</button>
</form>

<% if @sorted_shelters.any?() %>
  <ul>
    <% @sorted_shelters.each do |shelter| %>
      <li name="shelters[]" id="shelter_<%= shelter %>"><%= shelter[0].fetch(:name) %> is <%= shelter[1] %> miles away!</li>
    <% end %>
  </ul>
<% end %>
