<div class="container">
  <h1>Current Inventory of <%= @resource.name.capitalize %></h1>

  <table class="bordered striped">
    <thead>
      <th>Shelter Name</th>
      <th>Item</th>
      <th>Quantity</th>
    </thead>
    <tbody>
      <% @resource.items.each do |item| %>
        <tr>
          <td><%= item.shelter.name.capitalize%></td>
          <td><%= item.name%></td>
          <td><%= item.quantity%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
